.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navcontainer {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.navlinks {
  padding-right: 1.4rem;
  margin-right: auto;
}

.componentStyle {
  padding-top: 5rem;
  background-color: #212529;
}

.scroll {
  position: fixed;
  top: 64px; /* same height as navbar */
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

body {
  overflow: hidden;
}

.resumeStyle {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Comic Sans MS";
  margin-bottom: 5rem;
}

.cvStyle {
  width: 892.5px;
  height: 1310.25px;
  background-color: #fff;
  margin-bottom: 13rem;
}

.cv-intro-info {
  padding-top: 33px;
}

.teal-box {
  top: 4.5px;
  position: relative;
  float: left;
  width: 36px;
  height: 52.5px;
  left: 0;
  background-color: #479099;
}

.header-sec {
  padding-bottom: 21px;
  margin-bottom: 18px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-left: 37.5px;
  padding-right: 37.5px;
  border-color: #2dbcad;
  min-height: 60px;
  max-width: 100%;
  width: 100%;
  position: relative;
  height: auto;
  font-family: "Ubuntu";
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.cv-intro {
  text-align: left;
  width: 53%;
  height: 100%;
  position: relative;
  padding-left: 21px;
  float: left;
}

.cv-intro-details {
  text-align: right;
  width: 47%;
  height: 100%;
  position: relative;
  padding-left: 34.5px;
  float: right;
  padding-top: 3px;
}

.clear {
  clear: both;
}

.clear-fix {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.cv-intro-header {
  font-weight: 400;
  color: #3e787c;
  font-size: 34.5px !important;
  min-height: 34.5px;
  line-height: 36px !important;
  position: relative;
  left: -1.5px;
}

.cv-intro-title {
  padding-top: 4.5px;
  font-size: 19.5px !important;
  color: #2dbcad;
}

.cv-intro-summary {
  padding-top: 12px;
  font-size: 15px !important;
  color: #000;
}

.cv-email-container {
  padding-right: 25.5px;
}

.cv-email {
  font-size: 16px !important;
  top: -1.5px;
  text-decoration: none;
  cursor: pointer;
  clear: both;
  color: #000;
}

.mail-icon {
  color: #3e787c;
  font-size: 17px !important;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  left: initial;
  display: block;
}

a:hover {
  text-decoration: none !important;
  color: #000 !important;
}

.phone-icon {
  color: #3e787c;
  font-size: 16.5px !important;
  position: absolute;
  right: 0;
  left: initial;
  display: block;
}

.mbox-icon {
  color: #3e787c;
  font-size: 16.5px !important;
  position: absolute;
  right: 0;
  left: initial;
  display: block;
}

.globe-icon {
  color: #3e787c;
  font-size: 16.5px !important;
  position: absolute;
  right: 0;
  left: initial;
  display: block;
}

.linked-icon {
  color: #3e787c;
  font-size: 16.5px !important;
  position: absolute;
  right: 0;
  left: initial;
  display: block;
}

.git-icon {
  color: #3e787c;
  font-size: 16.5px !important;
  position: absolute;
  right: 0;
  left: initial;
  display: block;
}

.separator {
  margin-top: 13.5px;
}

.cv-body-left {
  width: 50% !important;
  font-weight: 400;
  float: left;
  height: auto;
  font-family: "Ubuntu";
  text-rendering: optimizelegibility;
}

.cv-body-right {
  width: 50% !important;
  font-weight: 400;
  float: right;
  height: auto;
  font-family: "Ubuntu";
  text-rendering: optimizelegibility;
}

.cv-body-left-header {
  margin-bottom: 6px;
  padding-left: 58.5px;
  padding-right: 27px;
  font-weight: bold;
  text-align: left;
  font-size: 21px;
}

.teal-body-box {
  width: 36px;
  height: 52.5px;
  background-color: #2dbcad;
  float: left;
}

.work-details {
  float: left;
  padding-left: 22.5px;
  padding-right: 27px;
}

.work-title {
  font-size: 19.5px;
  font-weight: 700;
  margin-bottom: 3px;
  text-align: left;
  width: 360.75px;
}

.work-company {
  font-size: 19.5px;
  margin-bottom: 7.5px;
  text-align: left;
}

.work-period {
  color: rgb(45, 188, 173);
  text-align: left;
  font-size: 13.5px;
  font-style: italic;
}

.work-tasks {
  margin-bottom: 6px;
  padding-left: 13.5px;
  text-align: left;
  font-size: 15px !important;
  width: 360.75px;
}

.bullet {
  color: rgb(45, 188, 173);
  width: 6px;
  height: 6px;
  padding-top: 5px;
  font-size: 8px !important;
  float: left;
}

.work-separator {
  margin-top: 25.5px;
}

.wp {
  width: 285px;
  float: left;
}

.cv-body-right-header {
  margin-bottom: 6px;
  padding-left: 27px;
  padding-right: 37.5px;
  font-weight: bold;
  text-align: left;
  font-size: 21px;
}

.skills {
  padding-left: 27px;
  padding-right: 19px;
  float: left;
}

.skillbox {
  margin-bottom: 10.5px !important;
  margin-right: 7.5px;
  padding-bottom: 4.5px;
  padding-left: 10.5px;
  padding-right: 10.5px;
  padding-top: 4.5px;
  text-align: center;
  border-radius: 4.5px;
  background-color: #2dbcad;
  color: #fff;
  float: left;
}

.text-box {
  text-align: left;
  padding-bottom: 1px;
  font-size: 16.5px;
  padding-left: 27px;
}

.cv-download {
  float: right;
  margin-right: 25px;
  margin-top: -50px;
}

.interestbox {
  margin-bottom: 10.5px !important;
  margin-right: 7.5px;
  padding-bottom: 4.5px;
  padding-left: 10.5px;
  padding-right: 10.5px;
  padding-top: 4.5px;
  text-align: center;
  border-radius: 4.5px;
  border-style: solid;
  border-color: rgb(178, 178, 178);
  border-width: 1px;
  float: left;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.transition-group {
  position: relative;
}

.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.contact-component {
  padding-top: 1rem;
}

.contact-scroll {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

.contact-form {
  width: 57%;
  margin: auto;
  padding: 15px;
  margin-bottom: 32px;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05),
    0 15px 35px rgba(50, 50, 93, 0.08), 0 5px 15px rgba(0, 0, 0, 0.08);
}

.contact-me {
  font-weight: 700;
  font-family: "Ubuntu";
  text-align: center;
  font-size: 21px;
  padding: 10px;
}

.contact-media {
  font-size: 44px;
  padding: 5px 10px 8px 10px;
}

.contact-message {
  width: 63%;
  margin: auto;
  font-family: "Ubuntu";
  padding: 10px;
}

.toasty {
  top: 17rem !important;
  text-align: center;
  font-family: "Ubuntu";
}

.projects-container {
  padding: 20px 70px 20px 70px;
  width: 1349px;
}

.project-box {
  border: 1px solid #dcdee4;
  border-radius: 6px;
  width: 23%;
  float: left;
  margin-right: 24px;
  margin-bottom: 30px;
}

#p-box:hover {
  border: 1px solid #414141;
}

.project-box-image {
  height: 200px;
}

.project-img {
  height: auto;
  width: 100%;
  border-radius: 6px;
}

.project-box-info {
  height: 75px;
}

.pb-info {
  padding: 0px 15px 0px 15px;
  font-weight: 700;
  font-family: "Ubuntu";
}

.project-box-links {
  height: 50px;
  padding: 0px 15px 0px 15px;
  font-size: 20px;
}

.project-box-details {
  padding: 0px 15px 0px 15px;
  font-family: "Ubuntu";
  font-size: 14px;
}

.pb-links-fl {
  float: left;
}

.pb-links-fr {
  float: right;
}

.tipper {
  position: relative;
  display: inline-block;
}

.tipper:hover .tippertext {
  visibility: visible;
}

.tippertext {
  visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border-radius: 6px;
  padding: 5px 5px 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -40px;
}

.tippertext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.home-image {
  padding-left: 64px;
  color: #fff;
  font-weight: 700;
  font-family: "Comic Sans MS";
  display: flex;
  flex-direction: row;
}

.home-intro {
  margin-top: auto;
  padding-bottom: 40px;
}

.home-title {
  font-size: 38px;
}

.home-name {
  font-size: 28px;
}

.hn {
  color: #029da1;
}

.tn {
  color: #f44336;
}

.sag-icon {
  font-size: 40px !important;
}

.home-component {
  height: calc(100vh - 8rem);
}

.home-content {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 20px 50px 20px 50px;
  width: auto;
}

.hc-fl {
  width: 57%;
}

.hc-fr {
  width: 43%;
  padding-top: 50px;
}

.hc-image {
  width: 333px;
  height: 333px;
  border-radius: 50% !important;
  border: 2px solid black;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15) !important;
}
